@import "base/reset.css";


@import "layout/nav.css";

@import "layout/footer.css";

@import "sections/home.css";


/* Stack and separate sections */
section {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}