.footer {
    background: black;
    color: white;
    height: 15vh;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;


}

.footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    text-align: center;
}


.footer.spread * {
    min-height: 9vh;
    max-height: 9vh;

    min-width: 9vh;
    max-width: 9vh;
}

.footer.spread.linkedin-button {
    background-size: 60%;
}

.footer.spread.github-button {
    background-size: 140%;
}


.footer-jumps * {
    font-size: 1.5rem;
    margin: 50px;
}

.resume-link {
    position: relative;
    padding: 2% 3%;
    width: fit-content;

    font-size: clamp(20px, 1.9vw, 1.9vw);
    text-decoration: underline;
    color: black;

    text-wrap: nowrap;

    border-radius: 10px;
    background-color: white;
    transition: all 0.25s ease-in-out;
    box-shadow: inset 0 0 2px black;

}

.resume-link:visited {
    color: black;
}

.resume-link:hover {
    color: black;
    background-color: #ffd600;
    transform: translateY(-5px);
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        height: auto;
    }
    .footer * {
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .footer-jumps * {
        margin: 0;
    }

    .link-list {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}