
.modal {

    display: none;

    position: fixed;
    z-index: 10;
    top: 3%;
    left: 6%;
    margin-left: auto;
    width: 88%;
    height: 90%;
    overflow: scroll;

    text-align: center;
    padding: 10px 15px;

    background-color: white;
    border: 5px solid black;
    border-radius: 15px;

    box-shadow: 0 0 75px 50px #333333;

    transition: all 5s ease-in-out;

}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: auto;
    margin-left: auto;
}

.show {
    display: block;
    opacity: 1;
}

.scroll-lock {
    height: 100%;
    overflow: hidden;

}

.animation-lock {
    transform: rotateY(180deg) !important;
}

