
.navbar {
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 1), rgba(34,34,34,0.8),rgba(34,34,34,0.6), rgba(34,34,34,0));

    z-index: 10;

    font-size: 1.2rem;
    color: white;


    transition: height 1s ease,
                font-size 1s ease,
                background-color 1s ease,
                color 0.5s ease;
}

.navbar * {
    transition: padding-top 1s ease,
                margin-top 1s ease,
                color 0.5s ease;
}



.navbar.scrolled {
    height: 5vh;
    background-color: #222222;

    font-size: 1rem;
    margin-top: 0;
    padding-top: 0;
}

.navbar.scrolled * {
    margin-top: 0;
    padding-top: 3px;
}

.navbar .link-list li:first-child {
    margin-right: auto;
    margin-left: 5%;

    font-family: "Momo Trust Display", Lexend,"Trebuchet MS",  sans-serif;
    font-weight: 400;
    font-style: normal;

}

.link-list {
    display: flex;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-end;




}

.link-list li {
    margin: 1% 2.5% 1% 2.5%;
    list-style: none;

    font-family: Lexend, "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
}


.link-list a:hover {
    color: #FCCA4F;
}

.resume-link-nav {
    margin-left: -15px;
    padding: 3% 7%;
    border: 2px solid black;

    text-decoration: underline;
    color: black;

    text-wrap: nowrap;

    border-radius: 10px;
    background-color: white;
    font-size: 1rem;

    transition: font-size 1s ease, background-color 0.5s ease;

    box-shadow: inset 0 0 1px black;

}

.navbar.scrolled .resume-link-nav {
    font-size: 0.8rem;

}

.resume-link-nav:visited {
    color: black;
}

.resume-link-nav:hover {
    color: black !important;
    background-color: #ffd600;
}






@media (pointer: coarse) or (max-width: 800px) {
    .navbar {
        opacity: 0;
        z-index: -5;
    }


}

