.scroll-to-top {
    position: fixed;
    right: 2%;
    bottom: 3%;

    height: 50px;
    width: 50px;

    background-color: rgba(50,50,50, 0.5);


    border-radius: 10px;

    border: none;

    transition: opacity 1s ease, transform 0.2s ease;
}

.scroll-to-top img {
    transform: rotateX(180deg);
    filter: invert(1);
    height: 30px;
    width: 30px;
    margin: auto;
}

.scroll-to-top:hover {
    transition: 0.2s ease;
    background-color: rgba(50,50,50, 0.95);
    transform: translateY(-5px);
}