
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;

    color: Black;
}

.about-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.indoor-headshot {
    max-width: 50%;
    border: 6px solid darkgoldenrod;
    border-radius: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.about-text {
    font-size: 1.17em;
    padding-right: 15px;
    margin-right: 10%;

}


.about-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.about-links * {
    color: transparent;

    max-width:50px;
    height: 50px;

    border-radius: 50%;
    margin: 1% 3%;

    background-repeat: no-repeat;
    background-position: center;
}

.about-links button:hover {
    transition: 0.25s ease-in-out;
    filter: invert(100%);
}

.linkedin-button {
    background-image: url(/assets/symbols/linkedin-logo.svg);
    background-color: white;
    background-size: 32px;
}

.github-button {
    background-image: url(/assets/symbols/github-logo.svg);
    background-color: black;
    background-size: 65px;
}

.about-content * {
    width: 100%;
    text-align: left;
}


.about-content hr {
    margin-bottom: 4%;
    margin-right: 15%;
}


