.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.proj-wrap{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;


}

.proj-wrap div {
    border: solid 1px black;
    flex-basis: 360px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.proj-wrap div img {
    border: solid 2px Blue;
    max-width: 90px;
}

